.slide-right {
  animation-duration: 3s;
  animation-name: slidein-right;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes slidein-right {
  from {
    transform: translateX(-100%);
  }
   
  to {
    transform: translateX(100vw);
    visibility: hidden;
  }
}