.slide-left {
  animation-duration: 3s;
  animation-name: slidein-left;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes slidein-left {
  from {
    transform: translateX(100vw);
  }
   
  to {
    transform: translateX(-100%);
    visibility: hidden;
  }
}