.slide-left {
  animation-duration: 6s;
  animation-name: slidein-left;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  
  25% {
    margin-left: -150%;
    width: 100%;
  }

  75% {
    margin-left: 100%;
    width: 300%;
  }
  
  100% {
    margin-left: 100%;
    width: 300%;
    visibility: hidden;
  }
}