html,body {
  height:100%;
  width:100%;
  overflow: hidden;
  background-color: #574ADA;
}

.container {
  position: relative;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.shade {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
  top: 0;
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
  font-family: Segoe UI;
  font-size: 50px;
}

.thick {
  font-weight: 600;
}

.thin {
  margin-top: -20px;
  font-weight: 200;
}

button {
  display: flex;
  border: 0px;
  border-radius: 35px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 200;
  color: white;
  background-color: #362F90;
}

.button-content {
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-icon {
  width: 48px;
  height: 48px;
}

.upscale {
  font-size: 40px;
}

.slider {
  width: 250%;
  flex: 1;
  background-image: url("https://software-advice.imgix.net/managed/products/screenshots/screenshot_200381.png?auto=format&w=600&h=450");
}